<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p>title: {{ page_title }}</p>

    <form action="" method="POST">
        {% csrf_token %}

        <input type="text" name="title">
        <textarea name="description" id=""></textarea>
        <input type="file" name="poster">

        <input type="submit">
        <p style="color: red;">{{ errors }}</p>
    </form>
</body>
</html>