<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{ page_title }}</p>


    <div>
        <p>{{ post.post_info.description }}</p>

        {% if post.post_likes.is_like == True %}
            <div>
                icon:red
                <p>{{ post.post_likes.likes_count }}</p>
            </div>
        {% else %}
            <div>
                icon:transperent
                <p>{{ post.post_likes.likes_count }}</p>
            </div>
        {% endif %}
    </div>
</body>
</html>